<div class="container-fluid info-box">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        home.html

    <!--h1>ngFacebook tests</h1>
    <div>
        <h2>Login</h2>
        <button id="login-btn" ng-click="loginToggle()">
            <span ng-if="status">Logout</span>
            <span ng-if="!status">Login</span>
        </button>
        <span ng-if="status" class="message">
            You are <strong>Logged in</strong> as <em>{{user.first_name}} {{user.last_name}}</em>
        </span>
        <span ng-if="!status" class="message">
            You are <strong>not</strong> logged in.
        </span>
    </div>
    <div ng-show="status">
        <h2>Friends via cachedApi:</h2>
        <button id="friends-btn" ng-click="getFriends()">Get friends</button>
        <div ng-show="friends">
            <h3>List of friends:</h3>
            <ul id="friend-list">
                <li ng-repeat="friend in friends">{{friend.name}}</li>
            </ul>
        </div>
    </div-->

<!--
<form>
  <input type=text ng-model="post.title"  />
  <input type=text ng-model="post.body"  />
  <button type="submit" class="btn btn-default" ng-click="home.senderNewRow(post)" value="Submit">Submit</button>
</form>

<div ng-repeat="item in home.data">
 {{item.title}}
</div>-->
    </div>
</div>
