<div class="container-fluid info-box"  ng-controller="StravaController as strava">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div style="margin: 0 auto;     width: max-content;">
            <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/36194446/latest-rides/a080b37222047b03a86b557c457cc05dff852da8'></iframe>
            <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/36194446/activity-summary/a080b37222047b03a86b557c457cc05dff852da8'></iframe>
        </div>
    </div>
</div>
