<div class="container-fluid info-box" ng-controller="DepozitController as depozit">
    <div class="wrapper-load" ng-if="depozit.promise.$$state.status != 1">
        <img class="rotating" src="../assets/images/loader.png" />
    </div>
    <div  ng-if="depozit.promise.$$state.status == 1">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Depozit</h1>
            <hr class="green"/>

            <div class="container-fluid depozit">
                <div class="row row-flex">
                    <!------------ left part start -------------->
                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <md-select ng-model="depozit.currentPlan" aria-label = "10">
                                    <md-option ng-repeat="plan in depozit.plan" value="{{plan.id}}">{{plan.name}}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="row table-info">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div layout="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <div class="left-text letters">Строк(міс.)</div>
                                    </div>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <article>
                                            <rzslider   rz-slider-model="depozit.rateYear.value"
                                                         rz-slider-options="depozit.rateYear.options">
                                            </rzslider>
                                        </article>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <div class="letters info text-primary">{{depozit.getRateValue(depozit.rateYear.value)}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row table-info">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div layout="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <div class="left-text letters">Сума</div>
                                    </div>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <article>
                                            <rzslider rz-slider-model="depozit.sum.value"
                                                rz-slider-options="depozit.sum.options"></rzslider>
                                        </article>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                            <input type="number" ng-model="depozit.sum.value" class="form-control text-primary" aria-label = "3" aria-controls="sum-slider">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row table-info">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">                        
                                <div layout="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <div class="left-text letters">Щомісячне поповнення</div>
                                    </div>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <rzslider rz-slider-model="depozit.sumAdd.value"
                                            rz-slider-options="depozit.sumAdd.options"></rzslider>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <input type="number" ng-model="depozit.sumAdd.value" class="form-control text-primary" aria-label = "5" aria-controls="everMonth-slider">
                                        <!--md-input-container>
                                            <input type="number" ng-model="depozit.sumAdd.value"  aria-label = "5" aria-controls="everMonth-slider">
                                        </md-input-container-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row table-info">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div layout="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <div class="left-text letters">Кількість продовжень</div>
                                    </div>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                            <rzslider rz-slider-model="depozit.prolongation.value"
                                                    rz-slider-options="depozit.prolongation.options"></rzslider>
                                     </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <div class="letters info text-primary">{{depozit.prolongation.value}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row table-info">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div layout="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <div class="left-text letters">Відсотки</div>
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                        <button type="button" class="btn" 
                                                ng-click="depozit.percentsPath = !depozit.percentsPath"
                                                ng-class="{'btn-info': !depozit.percentsPath, 'btn-default': depozit.percentsPath}">До вкладу</button>
                                        <div class="min-text">Збільшується ефективна доходність</div>
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                        <button type="button" class="btn"  
                                                ng-click="depozit.percentsPath = !depozit.percentsPath"
                                                ng-class="{'btn-info': depozit.percentsPath, 'btn-default': !depozit.percentsPath}">На картку</button>
                                        <div class="min-text">Відсотки можливо відразу витрачати</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row table-info">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div layout="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <div class="left-text letters">Податок</div>
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                        <button type="button" class="btn" 
                                        ng-click="depozit.tax = !depozit.tax"
                                        ng-class="{'btn-info': !depozit.tax, 'btn-default': depozit.tax}">Без урахування</button>
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                        <button type="button" class="btn" 
                                        ng-click="depozit.tax = !depozit.tax"
                                        ng-class="{'btn-info': depozit.tax, 'btn-default': !depozit.tax}">З урахуванням</button>
                                    </div>
                                </div>
                            </div>        
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div style="color:red; text-transform:uppercase">выпадающий список  "вид депозита" не учитывается</div>
                                <div style="color:red; text-transform:uppercase">формула не учитывает "Кількість продовжень"</div>
                                <div style="color:red; text-transform:uppercase">формула не учитывает выбранные кнопки в разделах  "Відсотки" и "Податок"</div>
                                <hr class="green"/>
                                <div style="color:red; text-transform:uppercase">формула на сайте банка работает неверно )))))))))))))</div>
                                <div style="color:red; text-transform:uppercase">Пример: 5000 на 3 месяца под 10.5% при кнопках "на карту" и "з урахуванням" - 5000 * 0,1050/12*3 = 131,25 грн.</div>
                            </div>
                        </div>
                    </div>


                    
                    <!------------ left part end -------------->


                    <!------------ right part start -------------->
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 right-part">
                            <div class="total-info empty"><span></span>Вклав: <strong>{{depozit.investments()}} ГРН.</strong></div>
                            <div class="total-info empty"><span></span>Отримаю: <strong>{{depozit.allMoney()| number : 2}} ГРН.</strong></div>
                            <hr class="green"/>
                            <div>
                                    <canvas id="doughnut" class="chart chart-doughnut"  width="400" height="400"
                                            chart-data="depozit.chartData" chart-labels="depozit.chartLabels" 
                                            chart-options="depozit.chartOptions">
                                    </canvas>
                              </div>


                            <hr class="green"/>
                            <div class="total-info sum"><span></span>Сума вкладу:<strong> {{depozit.sum.value}} (грн)</strong></div>
                            <div class="total-info sumAdd"><span></span>Сума поповнень:<strong> {{depozit.sumAllAdd()}} (грн)</strong></div>
                            <div class="total-info empty"><span></span>Відсоткова ставка:<strong> {{depozit.getRateValue(depozit.rateYear.value)}} (на рік)</strong></div>
                            <div class="total-info rate"><span></span>Відсотки (дохід):<strong> {{depozit.investmentsPercents()| number : 2}} (грн)</strong></div>
                            <hr class="green"/>
                            <button type="button" class="btn btn-primary">Оформити депозит</button>
                    </div>
                    <!------------ right part end -------------->
                    
                </div>
            </div>
        </div>
    </div>

            

        </div>
    </div>  
</div>
