<div class="container-fluid" ng-if="$state.current.name == 'joggings'"
 ng-controller="JoggiController as joggi">

<div class="wrapper-load" ng-if="joggi.promise.$$state.status != 1">
  <img class="rotating" src="../assets/images/loader.png" />
</div>

<div  ng-if="joggi.promise.$$state.status == 1">
  <div class="row marg15 withborder" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
      <div>
        <button type="button" role="info" class="btn btn-md btn-success">
          {{joggi.countSelectedRecords()}} / {{joggings.totalRecords}}
        </button>
        <button type="button" role="info" class="btn btn-md btn-success">
          {{joggi.countSelectedRecordsDistance()}} / {{joggings.totalDist| number:0}} m.
        </button>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div>
        <div>
          <span>{{joggings.from | translate}}:</span>
          <md-datepicker
                ng-model          = "joggi.dateSelectFrom"
                md-current-view   = "year"
                md-min-date       = "joggi.minDate"
                md-max-date       = "joggi.maxDate">
          </md-datepicker>
        </div>
        <div>
          <span>{{joggings.till | translate}} :</span>
          <md-datepicker
                ng-model          = "joggi.dateSelectTo"
                md-current-view   = "year"
                md-min-date       = "joggi.minDate"
                md-max-date       = "joggi.maxDate">
          </md-datepicker>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="text-align: center;">
      <div class="[ form-group  ]">
          <input type="checkbox"  ng-model="joggi.onlyCompetitions" name="fancy-checkbox-primary" id="fancy-checkbox-primary" autocomplete="off" />
          <div class="[ btn-group ]">
              <label for="fancy-checkbox-primary" class="[ btn btn-primary ]" style="padding: 3px;">
                  <span class="[ glyphicon glyphicon-ok ]"></span>
                  <span> </span>
              </label>
              <label for="fancy-checkbox-primary" class="[ btn btn-default active ]" style="padding: 3px;">
                 Только соревнования
              </label>
          </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <div style="text-align: center;">
      <rzslider
        rz-slider-model     = "joggi.sliderModel"
        rz-slider-high      = "joggi.sliderHigh"
        rz-slider-options   = "joggi.sliderOptions">
      </rzslider>
    </div>
    </div>
  </div>
  <div class="row marg15">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-hover wrapper-table">
        <thead>
          <tr>
            <th ng-repeat="item in joggi.joggingsTh" ng-class="{'less500': joggings.lessThen500(item)}">
              <span ng-click ="joggi.changeSortBy(item)"
                    ng-class="{'no-sort':joggi.noSort(item),'up':joggi.upSort(item),'down':joggi.downSort(item)}"
                    class="{{item.class}}">{{item.name | translate}}</span>
                    <span ng-class="{'caret caret-down':joggi.upSort(item),'caret':joggi.downSort(item)}" ></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in joggi.joggings |
                         filter: joggi.inRange |
                         orderBy : joggi.sortBy|
                         limitTo:joggi.paginatorProperty[0].itemsPerPage:joggi.currentItems(joggi.bigCurrentPage) ">
            <td>#{{item.id}}</td>
            <td><a ui-sref="joggings.race({ runID: item.id })">{{item.date | date : "dd/MM/yyyy" }}</a></td>
            <td class="less500">{{item.distance| number:0}}</td>
            <td class="less500">{{item.time*1000 | date : "HH:mm:ss": '+0000'}}</td>
            <td ng-class="{'finisher':joggings.isCompetition(item.id)}">
              <span>&nbsp;&nbsp;{{joggi.intDistance(item.distance)}}&nbsp;&nbsp;</span>
            </td>
            <td>{{joggi.intDistanceTime(item.id)*1000| date : "HH:mm:ss": '+0000'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row marg15">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tacenter">
      <ul uib-pagination
        total-items             = "joggi.countSelectedRows"
        ng-model                = "joggi.bigCurrentPage"
        max-size                = "joggi.paginatorProperty[0].maxSize"
        items-per-page          = "joggi.paginatorProperty[0].itemsPerPage"
        class                   = "pagination-sm"
        boundary-links          = "false"
        force-ellipses          = "true"
        boundary-link-numbers   = "true"
        next-text               = "&nbsp;&gt;&nbsp;"
        previous-text           = "&nbsp;&lt;&nbsp;"
        >
      </ul>
    </div>
  </div>
  </div>
</div>

<div ui-view></div>
