<div>
  <ng-map  zoom-to-include-markers="false" id="my-map" zoom="11"  style="height:500px">
  <!--directions
    draggable="false"
    panel="directions-panel"
    travel-mode="{{summary.travelMode}}"
    waypoints="{{summary.wayPoints}}"
    origin="{{summary.origin}}"
    destination="{{summary.destination}}">
  </directions-->
  <directions 
  polyline-options='{strokeColor: "blue"}'
  draggable="false"
  panel="directions-panel"
  travel-mode="{{summary.travelMode}}"
  waypoints="{{summary.createRemainRoute()}}"
  origin="{{summary.waypoints[summary.numberSegments()].coordinates}}"
  destination="{{summary.waypoints[summary.waypoints.length-1].coordinates}}">
  </directions>
  
  <custom-marker id="start"
    position="{{summary.waypoints[summary.numberSegments()].coordinates}}">
    <div> </div>
  </custom-marker>
  <custom-marker id="end"
    position="{{summary.waypoints[summary.waypoints.length-1].coordinates}}">
    <div> Finish</div>
  </custom-marker>

  <directions 
    polyline-options='{strokeColor: "red"}'
    draggable="false"
    panel="directions-panel"
    travel-mode="{{summary.travelMode}}"
    waypoints="{{summary.createRoute()}}"
    origin="{{summary.waypoints[0].coordinates}}"
    destination="{{summary.waypoints[summary.numberSegments()].coordinates}}">
</directions>

<custom-marker id="start"
  position="{{summary.waypoints[0].coordinates}}">
  <div> Start <br>{{summary.fJogging()}}</div>
</custom-marker>

<custom-marker id="end"
  position="{{summary.waypoints[summary.numberSegments()].coordinates}}">
  <div> Current <br>{{summary.pJogging()}}</div>
</custom-marker>

</ng-map>
<div class="percent">{{(summary.numberSegments()/summary.waypoints.length)*100 | number:2}} %</div>
</div>
