<div>
  <ng-map zoom="5" zoom-to-include-markers="false" id="my-map" center="{{summary.centerMap}}" style="height:400px">
  <!--directions
    draggable="false"
    panel="directions-panel"
    travel-mode="{{summary.travelMode}}"
    waypoints="{{summary.wayPoints}}"
    origin="{{summary.origin}}"
    destination="{{summary.destination}}">
  </directions-->

  <directions
  minZoom= 4
    maxZoom= 4
    draggable="false"
    panel="directions-panel"
    travel-mode="{{summary.travelMode}}"
    waypoints="{{summary.createRoute()}}"
    origin="{{summary.waypoints[0].coordinates}}"
    destination="{{summary.waypoints[summary.numberSegments()].coordinates}}">
</directions>
</ng-map>
</div>
