.wrap-labelCity{
  text-align: center;
  direction: rtl;
}

.labelCity{
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #e9ecef;
  background: rgba(233, 236, 239, 0.3);
  margin: 3px;
  display: inline-block;
}

.viewCity{
  width: 16px;
  height: 16px;
  border: 1px solid #007BFF;
  border-radius: 50%;
  background: #FFF;
  top: 5px;
  position: relative;
}


.radio:not(checked) + label::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 1px;
  width: 16px;
  height: 16px;
  border: 1px solid #007BFF;
  border-radius: 50%;
  background: #FFF;
}

.townWrapper{
  position: relative;
  width: 96%;
  margin: 0 auto;
}

.cities{
  position: absolute;
  width: 100%;
  top: -4px;
}


h4{
  text-align: center;
  color: #0651a1;
}

.carousel-dots li button::before,
.ui-carousel .carousel-next .carousel-btn,
.ui-carousel .carousel-prev .carousel-btn {
  color: #065bb1;
}

.image img {
  max-width: 90%;
}


@media only screen and (max-device-width:768px)   {
  .ui-carousel .carousel-btn {
    font-size: 24px;
  }


}


.table-hover tbody tr:hover{
  background-color: rgb(169, 253, 173);
}

.table-hover tbody tr .table-hover tbody tr:hover{
  background-color: rgb(66, 247, 75);
}